<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	    <!--targets指的是日誌輸出的目的地-->
	<targets>
	    <!-- Info 日誌目標 -->
	<target name="infoFile" xsi:type="File"
		fileName="Logs/${date:format=yyyyMMdd}/Info.log"    
		layout="${longdate} ${level}  ${message}"           
		encoding="utf-8" append="true" />
		<!--fileName為指定日誌文件的儲存路徑和文件名稱-->
		<!--layout定義了日誌的輸出格式
		        ${longdate} 會顯示完整的日期和時間
		        ${level} 會顯示日誌的級別（如 Info、Error）
		        ${message} 會顯示日誌訊息的內容。-->
		
		<!-- Error 日誌目標 -->
	<target name="errorFile" xsi:type="File"
		fileName="Logs/${date:format=yyyyMMdd}/Error.log"   
		layout="${longdate}  ${level}  ${message}"          
		encoding="utf-8" append="true" />                  
	</targets>
	
	   <!--規則部分用來指定哪些日誌級別的訊息應該寫入哪些目標-->
	<rules>
       <!-- minlevel是級別,writeTo為將Info 級別以上的訊息輸出到 Info.log -->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
    
    <!-- Error 級別以上的訊息輸出到 Error.log -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
